* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}

.screen {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: #000;
}

/* VIDEOS */

.video {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: contain;
    background: #000;

    opacity: 1;
}

.hidden {
    display: none !important;
}

/* START SCREEN */

.startScreen {
    position: fixed;
    inset: 0;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #000;
}

.startScreen button {
    padding: 18px 35px;

    border: none;
    border-radius: 50px;

    background: linear-gradient(45deg, #ff9800, #ff5722);

    color: white;

    font-size: 20px;
    font-weight: bold;

    cursor: pointer;

    box-shadow:
        0 0 15px rgba(255, 150, 0, 0.8),
        0 0 35px rgba(255, 100, 0, 0.5);

    animation: buttonGlow 1.5s infinite alternate;
}

.startScreen button:hover {
    transform: scale(1.08);
}

/* FINAL PHOTO */

.final {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #000;

    overflow: hidden;

    animation: finalFade 2s ease forwards;
}

.final img {
    width: 100%;
    height: 100%;

    object-fit: contain;

    animation: slowZoom 6s ease forwards;
}

/* FINAL TEXT */

.finalText {
    position: absolute;

    bottom: 7%;
    left: 50%;

    transform: translateX(-50%);

    width: 100%;

    text-align: center;

    color: white;

    text-shadow:
        0 0 8px rgba(255, 180, 50, 0.9),
        0 0 20px rgba(255, 120, 0, 0.7),
        0 3px 15px #000;
}

.finalText h1 {
    font-family: Georgia, serif;

    font-size: clamp(25px, 6vw, 55px);

    letter-spacing: 1px;

    animation: textGlow 2s infinite alternate;
}

.finalText p {
    margin-top: 10px;

    font-size: clamp(16px, 3vw, 28px);

    font-family: Georgia, serif;
}

/* ANIMATIONS */

@keyframes finalFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slowZoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.07);
    }
}

@keyframes textGlow {
    from {
        text-shadow:
            0 0 8px rgba(255, 180, 50, 0.8),
            0 0 15px rgba(255, 120, 0, 0.5);
    }

    to {
        text-shadow:
            0 0 15px rgba(255, 220, 100, 1),
            0 0 30px rgba(255, 120, 0, 0.9);
    }
}

@keyframes buttonGlow {
    from {
        box-shadow:
            0 0 10px rgba(255, 150, 0, 0.6);
    }

    to {
        box-shadow:
            0 0 30px rgba(255, 180, 0, 1),
            0 0 50px rgba(255, 100, 0, 0.7);
    }
}
